* {
  padding: 0px;
  margin: 0px;
  font-family: "Nunito", sans-serif;
  font-size: 40px;
  background-color: #1f1f1f;
}

.keys table {
  background-color: #99989d;
  width: 376px;
}

tr {
  border: 0px;
}

td {
  border: 0px;
}

.numbers {
  width: 92px;
  height: 92px;
  border: 0px;
  color: #19191d;
  background-color: #d2d1d6;
}

.operators {
  width: 92px;
  height: 92px;
  border: 0px;
  color: #ffefd1;
}

#divi {
  background-color: #f89211;
}

#multi {
  background-color: #fa8d10;
}

#minus {
  background-color: #fa8711;
}

#plus {
  background-color: #fa810f;
}

#equal {
  background-color: #f27c0e;
}

.other {
  width: 92px;
  height: 92px;
  border: 0px;
  color: #353537;
  background-color: #c6c5c8;
  font-size: 32px;
}

.numbers:hover {
  background-color: #e1e2e4;
}

#divi:hover {
  background-color: #fbc388;
}
#multi:hover {
  background-color: #fbc388;
}
#minus:hover {
  background-color: #fbc388;
}
#plus:hover {
  background-color: #fbc388;
}
#equal:hover {
  background-color: #fbc388;
}

.other:hover {
  background-color: #e3e3e5;
}

.numbers:active,
.numbers:focus {
  outline: none;
  background-color: #d2d1d6;
}

.operators:active,
.operators:focus {
  outline: none;
}

.other:active,
.other:focus {
  outline: none;
  background-color: #c6c5c8;
}

#equal:active,
#equal:focus {
  outline: none;
  background-color: #f27c0e;
}

#result {
  width: 378px;
  height: 200px;
  border: 0px;
  background-color: #1f1f1f;
  color: #e4e4e4;
  font-size: 50px;
  text-align: right;
  line-height: 60px;
  margin-bottom: 0px;
}

.calculator {
  max-width: 376px;
  max-height: 667px;
  margin: 2vw auto;
  display: inherit;
  justify-content: inherit;
  align-items: inherit;
  flex-wrap: inherit;
}
